.Logout {
  border: none;
  color: white;
  background: #d9534f;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}
.Login {
  border: none;
  color: white;
  background: #0275d8;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}
