.signupform {
  margin: 3em auto;
  width: 30em;
  height: 30em;
}

.signupform form {
  height: 100%;
  width: 100%;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  border-radius: 5px;
}
.signupform form input {
  padding: 1em;
  width: 80%;
  height: 10%;
}

.signupform form button {
  width: 200px;
  height: 50px;
  border: none;
  background-color: #d9534f;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.signupform form h1 {
  margin-bottom: 60px;
  font-family: "Roboto", sans-serif;
}
